.combined {
  font-size: 11rem;
  line-height: 11rem;
  -webkit-text-stroke: 1px black;
  color: var(--foreground);
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
